[submodule "auto_vk"]
	path = auto_vk
	url = https://github.com/cg-tuwien/Auto-Vk.git
[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "external/meshcontours"]
	path = external/meshcontours
	url = git@gitlab.inria.fr:panagiotis.tsiapkolis/meshcountours-dev.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "assests/meshcountours-models"]
	path = assets/meshcountours-models
	url = git@gitlab.inria.fr:panagiotis.tsiapkolis/meshcountours-models.git
[submodule "assets/meshcountours-models"]
	path = assets/meshcountours-models
	url = git@gitlab.inria.fr:panagiotis.tsiapkolis/meshcountours-models.git
